*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
.navbar-brand {
     font-family: 'Luckiest Guy', cursive;
}
.navbar-brand span{
    color: red;
    
}
body{
    font-family: 'Laila', sans-serif
}
.modal-body{
    font-family: 'Dancing Script', cursive;
    font-size: large;
}
